body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem
}

nav {
    border: 0.2rem solid grey;
}

ul {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
    margin-left: 2.5rem;
}

.collectionItemContainer {
    display: flex;
    border: 0.2rem solid grey;
    margin: 1rem;
}

.collectionItemContainer img {
    width:100%;
    max-width:20rem;
}

.collectionItemInfo {
    margin-left: 1rem;
}

.addForm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.addForm form{
    display: flex;
    flex-direction: column;
    border: 0.2rem solid grey;
    min-width: 100%;
    padding: 3rem;
}

input{
    border: 0.1rem solid black;
    margin: 0.5rem 0;
}